
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: roboto;
  }
  
  body {
    font-size: 1.6rem;
    font-family: roboto;
  }
  
  .container {
    margin: 0 auto;
    max-width: 1320px;
  }
  
  .nav-background {
    background-color: #fafafa;
    height: 10rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    height: 10rem;
    align-items: center;
  }
  
  .nav-menu-list {
    display: flex;
    list-style: none;
    align-items: center;
    margin-bottom: 0;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
  }
  
  /* làm logo */
  .nav-logo a {
    font-size: 35px;
    font-weight: 700;
    text-decoration: none;
    color: #03a4ed;
    letter-spacing: 6px;
  }
  
  .nav-logo span {
    color: #fe3f40;
  }
  
  #toggler,
  .nav label {
    display: none;
  }
  
  /* làm menu */
  .nav-menu-link {
    padding: 0 2rem;
    text-decoration: none;
    color: #2a2a2a;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
  }
  
  .nav-menu-link:hover {
    color: #fe3f40;
    transition: 0.3s;
  }
  
  .btn_contact {
    background-color: #fe3f40;
    padding: 1.5rem 2rem;
    border: none;
    color: black;
    border-radius: 20px;
    transition: 0.3s;
    font-weight: bold;
    font-size: 16px;
  }
  
  .btn_contact:hover {
    color: white;
    transition: 0.3s;
  }
  
  .actived {
    color: #fe3f40;
  }
  
  @media screen and (max-width: 993px) {
    /* .nav {
      position: relative;
      justify-content: space-between;
    } */
  
    .nav label {
      display: block;
    }
  
    .nav-menu {
      flex-direction: column;
      background-color: #fafafa;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 999;
      height: 0;
      width: 100%;
      overflow: hidden;
      /* transition: 0.3s; */
    }
  
    .nav-menu-list {
      flex-direction: column;
      padding: 0;
    }
  
    .nav-menu-item {
      padding: 20px 0;
    }
  
    .nav label {
      cursor: pointer;
    }
  
    #toggler:checked~.nav-menu {
      height: auto;
      transition: 0.3s;
    }
  }
  
  /* Banner */
  .banner {
    width: 100%;
    height: 500Px;
    /* Đặt chiều cao mới cho banner, ví dụ 200px */
    position: relative;
    margin-top: 10rem;
}

.banner-bg {
    width: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
    object-position: center;
}
.banger-bg-color{
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
}
.banner-bg img {
    width: 100%;
    height: 100%;
}
.title{
    position: absolute;
    color: rgba(255,255,255,.2);
    font-weight: 700;
    text-transform: uppercase;
    z-index: 0;
    bottom: -30px;
    font-size: 128px;
}
.title-bg{
    position: absolute;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1;
    bottom: 108px;
}
/* main */
.main{
    display: flex;
    padding-top: 10rem;
}
.left{
    width: 70%;
    padding-right: 3em;
    text-align: justify;;
}
.right{
    width: 30%;
}
/* left title */
.left-title ul{
    list-style: none;
    display: flex;
    padding: 0;
    font-size: 18px;
}
.time{
    color: #7d8ba4;
    margin-bottom: 10px;
}
.left-title li:not(:first-child)::before{
    content: " ";
    margin: 2px 10px;
    color: #7d8ba4;
    width: 6px;
    height: 6px;
    border-top: 1px solid;
    border-right: 1px solid;
    display: inline-block;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate()
}
.left-title a{
    text-decoration: none;
    color: #7d8ba4;
}
/* left content */
.left-content{
    overflow: hidden;
    width: 100%;
}
/* left bottom */
.left-bottom h2{
    margin-top: 30px;
    padding-left: 10px;
    font-size: 26px;
}
.news-content{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10rem;
}
.news-card{
    flex-basis: calc(40% - 10px); 
    margin: 10px;
    flex-grow: 1;
    border: 1px solid rgb(217, 212, 212);
}
.news-card-img{

}
.news-card-img img{
width: 100%;
height: 100%;
}
.news-card-content{
    padding: 15px;
}
.news-card-id{
    color: gray;
    font-weight: bold;
    margin-bottom: 16px;
    font-size: 16px;

}
.news-card-title{
    font-weight: bold;
    color: rgb(191, 8, 8);
    font-size: 22px;
    margin-bottom: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news-card-time{
    font-size: 16px;
    margin-bottom: 16px;

}
.news-card-detail{
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* RIGHT */
.right h2{
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
}
.list-news-card{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}
.news-card-right{
    display: flex;
    padding-bottom: 24px;
    margin-bottom: 24px;
    /* border: 1px solid red;
     */
     border-bottom: 1px solid #e5e5e5;
}
.news-card-right-img{
    width: 30%;
    margin-right: 15px;
}
.news-card-right-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news-card-right-content{
    width: 70%;
    padding: 5px;
}
.news-card-right-content h3{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    transition: all .3s ease;
    margin-bottom: 8px;
    line-height: unset;
}
.time{
    padding-top: 20px;
}

/* Footer */
.footer {
    background-color: rgb(191, 8, 8);
    color: #fff;
  
  }
  
  .footer-content {
    display: flex;
    /* font-size: 25px; */
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-between;
    padding: 64px 0;
  
  }
  
  .footer-block {
    font-size: 16px;
  }
  
  .footer-block li {
    list-style: none;
  }
  
  .footer-title {
    padding-left: 20px;
    font-size: 25px;
    margin-bottom: 32px;
    font-weight: bold;
  }
  
  .footer-block li {
    padding-bottom: 8px;
  }
  
  .footer-content-col {
    width: 33%;
  }
  
  .footer-block.middle {
    display: flex;
  
  }
  
  .footer-block a {
    text-decoration: none;
    color: #fff;
  }
  
  .footer-block.middle a {
    text-decoration: none;
    color: #fff;
  }
  
  .footer-block.right {
    display: flex;
    padding-left: 20px;
  }
  
  .footer-block.right i {
    font-size: 28px;
  }
  
  .footer-block.right li {
    padding-right: 10px;
  }