* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: roboto;
}

body {
  font-size: 1.6rem;
  font-family: roboto;
}

.container {
  margin: 0 auto;
  max-width: 1320px;
}

.nav-background {
  background-color: #fafafa;
  height: 10rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 10rem;
  align-items: center;
}

.nav-menu-list {
  display: flex;
  list-style: none;
  align-items: center;
  margin-bottom: 0;
}

.nav-menu {
  display: flex;
  align-items: center;
}

/* làm logo */
.nav-logo a {
  font-size: 35px;
  font-weight: 700;
  text-decoration: none;
  color: #03a4ed;
  letter-spacing: 6px;
}

.nav-logo span {
  color: #fe3f40;
}

#toggler,
.nav label {
  display: none;
}

/* làm menu */
.nav-menu-link {
  padding: 0 2rem;
  text-decoration: none;
  color: #2a2a2a;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s;
}

.nav-menu-link:hover {
  color: #fe3f40;
  transition: 0.3s;
}

.btn_contact {
  background-color: #fe3f40;
  padding: 1.5rem 2rem;
  border: none;
  color: black;
  border-radius: 20px;
  transition: 0.3s;
  font-weight: bold;
  font-size: 16px;
}

.btn_contact:hover {
  color: white;
  transition: 0.3s;
}

.actived {
  color: #fe3f40;
}

@media screen and (max-width: 993px) {
  /* .nav {
      position: relative;
      justify-content: space-between;
    } */

  .nav label {
    display: block;
  }

  .nav-menu {
    flex-direction: column;
    background-color: #fafafa;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
    height: 0;
    width: 100%;
    overflow: hidden;
    /* transition: 0.3s; */
  }

  .nav-menu-list {
    flex-direction: column;
    padding: 0;
  }

  .nav-menu-item {
    padding: 20px 0;
  }

  .nav label {
    cursor: pointer;
  }

  #toggler:checked ~ .nav-menu {
    height: auto;
    transition: 0.3s;
  }
}
/* Banner */
.banner {
  width: 100%;
  height: 600px;
  position: relative;
  margin-top: 10rem;
}

.banner-bg {
  width: 100%;
}
.banner-color {
  position: absolute;
  z-index: 3;
  inset: 0;
  background-color: rgb(55 55 55 / 65%);
}
.banner-bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-bg {
  position: absolute;
  left: 50%;
  bottom: 50%;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  font-family: "Font Awesome 5 Free";
  z-index: 4;
}

/* content */
.form-signup-course {
  margin-bottom: 5rem;
}
.course-signup-box {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-gap: 20px;
  align-items: center;
}

.course-signup-box .left-img {
  text-align: center;
}

.course-signup-box .left-img img {
  max-width: 100%;
  height: auto;
}

.course-signup-box .course-signup-right {
  /* background-color: #f2f2f2; */
  padding: 20px;
  border-radius: 5px;
}

.course-signup-box .course-signup-right h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
}

.course-signup-box .course-signup-right label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.course-signup-box .course-signup-right select,
.course-signup-box .course-signup-right input[type="text"],
.course-signup-box .course-signup-right input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.btn-submit {
  text-align: center;
}
.btn-submit button {
  background-color: #a50000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.btn-submit button:hover {
  background-color: #45a049;
}
/* footer */
/* Footer */
.footer {
  background-color: rgb(191, 8, 8);
  color: #fff;
}

.footer-content {
  display: flex;
  /* font-size: 25px; */
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-between;
  padding: 64px 0;
}

.footer-block {
  font-size: 16px;
}

.footer-block li {
  list-style: none;
}

.footer-title {
  padding-left: 20px;
  font-size: 25px;
  margin-bottom: 32px;
  font-weight: bold;
}

.footer-block li {
  padding-bottom: 8px;
}

.footer-content-col {
  width: 33%;
}

.footer-block.middle {
  display: flex;
}

.footer-block a {
  text-decoration: none;
  color: #fff;
}

.footer-block.middle a {
  text-decoration: none;
  color: #fff;
}

.footer-block.right {
  display: flex;
  padding-left: 20px;
}

.footer-block.right i {
  font-size: 28px;
}

.footer-block.right li {
  padding-right: 10px;
}
