<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>listScheduleController</servlet-name>
        <servlet-class>controller.schedule.listScheduleController_Nhat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewScheduleController</servlet-name>
        <servlet-class>controller.schedule.viewScheduleController_Nhat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertScheduleController</servlet-name>
        <servlet-class>controller.schedule.insertScheduleController_Nhat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoursesServlet</servlet-name>
        <servlet-class>controller.course.CoursesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClubServlet</servlet-name>
        <servlet-class>controller.club.ClubServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoucherServlet</servlet-name>
        <servlet-class>controller.voucher.VoucherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsServlet</servlet-name>
        <servlet-class>controller.news.NewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleServlet</servlet-name>
        <servlet-class>controller.schedule.ScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCourseServlet</servlet-name>
        <servlet-class>controller.course.InsertCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCourseServlet</servlet-name>
        <servlet-class>controller.course.UpdateCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStaffController</servlet-name>
        <servlet-class>controller.admin.ListStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffController</servlet-name>
        <servlet-class>controller.admin.UpdateStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>controller.admin.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertStaff</servlet-name>
        <servlet-class>controller.admin.InsertStaffContrller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListScheduleController</servlet-name>
        <servlet-class>controller.admin_nhat.ListScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileAdminController</servlet-name>
        <servlet-class>controller.admin_nhat.EditProfileAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListScheduleClassController</servlet-name>
        <servlet-class>controller.admin_nhat.ListScheduleClassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleDetailsAdminContrller</servlet-name>
        <servlet-class>controller.admin_nhat.ScheduleDetailsAdminContrller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>controller.admin_nhat.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeRedirect</servlet-name>
        <servlet-class>controller.schedule.HomeRedirect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CoursesServlet</servlet-name>
        <url-pattern>/CoursesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClubServlet</servlet-name>
        <url-pattern>/ClubServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoucherServlet</servlet-name>
        <url-pattern>/VoucherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsServlet</servlet-name>
        <url-pattern>/NewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleServlet</servlet-name>
        <url-pattern>/ScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCourseServlet</servlet-name>
        <url-pattern>/insertCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCourseServlet</servlet-name>
        <url-pattern>/updateCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listScheduleController</servlet-name>
        <url-pattern>/listSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewScheduleController</servlet-name>
        <url-pattern>/viewSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertScheduleController</servlet-name>
        <url-pattern>/insertSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStaffController</servlet-name>
        <url-pattern>/listStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffController</servlet-name>
        <url-pattern>/updateStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/deleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertStaff</servlet-name>
        <url-pattern>/insertStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListScheduleController</servlet-name>
        <url-pattern>/listScheduleAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileAdminController</servlet-name>
        <url-pattern>/editProfileAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListScheduleClassController</servlet-name>
        <url-pattern>/listScheduleClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleDetailsAdminContrller</servlet-name>
        <url-pattern>/scheduleDetailsAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/dashBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeRedirect</servlet-name>
        <url-pattern>/homeRedirect</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>homeCustomer</welcome-file>
    </welcome-file-list>
</web-app>
