* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: roboto;
  }
  
  body {
    font-size: 1.6rem;
    font-family: roboto;

  }
  .container{
    margin: 0 auto;
    max-width: 1320px;
  }
  .nav-background {
    background-color: #fafafa;
    height: 10rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    height: 10rem;
    align-items: center;
  }
  
  .nav-menu-list {
    display: flex;
    list-style: none;
    align-items: center;
    margin-bottom: 0;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
  }
  
  /* làm logo */
  .nav-logo a {
    font-size: 35px;
    font-weight: 700;
    text-decoration: none;
    color: #03a4ed;
    letter-spacing: 6px;
  }
  
  .nav-logo span {
    color: #fe3f40;
  }
  
  #toggler,
  .nav label {
    display: none;
  }
  
  /* làm menu */
  .nav-menu-link {
    padding: 0 2rem;
    text-decoration: none;
    color: #2a2a2a;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
  }
  
  .nav-menu-link:hover {
    color: #fe3f40;
    transition: 0.3s;
  }
  
  .btn_contact {
    background-color: #fe3f40;
    padding: 1.5rem 2rem;
    border: none;
    color: black;
    border-radius: 20px;
    transition: 0.3s;
    font-weight: bold;
    font-size: 16px;
  }
  
  .btn_contact:hover {
    color: white;
    transition: 0.3s;
  }
  
  .actived {
    color: #fe3f40;
  }
  
  @media screen and (max-width: 993px) {
    /* .nav {
      position: relative;
      justify-content: space-between;
    } */
  
    .nav label {
      display: block;
    }
  
    .nav-menu {
      flex-direction: column;
      background-color: #fafafa;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 999;
      height: 0;
      width: 100%;
      overflow: hidden;
      /* transition: 0.3s; */
    }
    .nav-menu-list {
      flex-direction: column;
      padding: 0;
    }
    .nav-menu-item {
      padding: 20px 0;
    }
    .nav label{
      cursor: pointer;
    }
    #toggler:checked ~ .nav-menu{
      height: auto;
      transition: 0.3s;
    }
  }
.banner {
    width: 100%;
    height: 600Px;
    /* Đặt chiều cao mới cho banner, ví dụ 200px */
    position: relative;
}

.banner-bg {
    width: 100%;
    /* overflow: hidden; */
}
.banger-bg-color{
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
}
.banner-bg img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title{
    position: absolute;
    color: rgba(255,255,255,.2);
    font-weight: 700;
    text-transform: uppercase;
    z-index: 0;
    bottom: -30px;
    font-size: 128px;
}
.title-bg{
    position: absolute;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1;
    bottom: 108px;
}
/* clb-title */
.clb{
    text-align: center;
}
.clb-title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 32px;
    padding-top: 5rem;
    z-index: 100;
  }
  .clb-detail{
    font-size: 16px;
    width: 100%;
    max-width: 420px;
    margin-bottom: 32px;
    margin-left: auto!important;
    margin-right: auto!important;
  }
  .form-select{
    padding: 20px;
    width: 40rem ;
    /* border: none;+++++++ */
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
  }

  /* clb-content */
.form-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10rem;
}
.clb-card{
    /* flex-basis: calc(30% - 10px);  */
    max-width: 30%;
    margin: 15px;
    flex-grow: 1;
    border: 1px solid rgb(217, 212, 212);
}
.clb-card-img img{
width: 100%;
height: 100%;
}
.clb-card-content{
    padding: 15px;
}

.clb-card-title{
    font-weight: bold;
    color: rgb(191, 8, 8);
    font-size: 20px;
    margin-bottom: 16px;

}
.clb-card-position{
    padding-bottom: 10px;
}
.clb-card-position i{
    padding-right: 10px;
}
.clb-card-phone i{
    padding-right: 5px;
}


/* Footer */
.footer {
  background-color: rgb(191, 8, 8);
  color: #fff;

}

.footer-content {
  display: flex;
  /* font-size: 25px; */
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-between;
  padding: 64px 0;

}

.footer-block {
  font-size: 16px;
}

.footer-block li {
  list-style: none;
}

.footer-title {
  padding-left: 20px;
  font-size: 25px;
  margin-bottom: 32px;
  font-weight: bold;
}

.footer-block li {
  padding-bottom: 8px;
}

.footer-content-col {
  width: 33%;
}

.footer-block.middle {
  display: flex;

}

.footer-block a {
  text-decoration: none;
  color: #fff;
}

.footer-block.middle a {
  text-decoration: none;
  color: #fff;
}

.footer-block.right {
  display: flex;
  padding-left: 20px;
}

.footer-block.right i {
  font-size: 28px;
}

.footer-block.right li {
  padding-right: 10px;
}