*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppings', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}
.login{
    display: flex;
    /* border: 2px solid red; */
    width: 750px;
    height: 520px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}
.left{
    z-index: 3;
}

@keyframes animate
{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.right{
    position: relative;
    width: 50%;
    background: #1c1c1c;
    overflow: hidden;

    z-index: 4;
}
.right form{
    position: absolute;
    background: #222;
    inset: 4px;
    z-index: 4;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}
.right form h2{
    color:#fff;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.1em;
}
.right-input{
    position: relative;
    width: 300px;
    margin-top: 35px;
} 
.right-input input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    color: #23242a;
    border: none;
    z-index: 10;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.right-input span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    transition: 0.5s;
}
.right::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 375px;
    height: 420px;
    background: linear-gradient(0deg, transparent,transparent,red,red,red);
    z-index: 2;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.right::after{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 375px;
    height: 420px;
    background: linear-gradient(0deg, transparent,transparent,red,red,red);
    z-index: 2;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
.boderLine{
    position: absolute;
    top: 0;
    inset: 0;
}
.boderLine::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 375px;
    height: 420px;
    background: linear-gradient(0deg, transparent,transparent,#2cccff,#2cccff,#2cccff);
    z-index: 2;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}
.boderLine::after{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 375px;
    height: 420px;
    background: linear-gradient(0deg, transparent,transparent,#2cccff,#2cccff,#2cccff);
    z-index: 2;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}
.right-input input:valid ~ span,
.right-input input:focus ~ span
{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
}
.right-input i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border: 2px solid #fff;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.right-input input:valid ~ i,
.right-input input:focus ~ i
{
    height: 44px;
}
.right-links{
    display: flex;
    justify-content: space-between;
}
.right-links a{
    margin: 20px 0;
    color: #8f8f8f;
    text-decoration: none;
    font-size: 0.8em;
}
.right-links a:hover{
    color: #fff;
}
.right form input[type = "submit"]{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
}

.left{
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c1c1c ;
    
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.left-img {
    position: absolute;
    inset: 0;
}
.left-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.left-content{
    z-index: 99;
    font-size: 25px;
    font-style: oblique;
    font-weight: bold;
    color: #fff;
}