* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: roboto;
}

body {
  font-size: 1.6rem;
  font-family: roboto;
}
.container {
  margin: 0 auto;
  max-width: 1320px;
}
.nav-background {
  background-color: #fafafa;
  height: 10rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.nav {
  display: flex;
  justify-content: space-between;
  height: 10rem;
  align-items: center;
}

.nav-menu-list {
  display: flex;
  list-style: none;
  align-items: center;
  margin-bottom: 0;
}

.nav-menu {
  display: flex;
  align-items: center;
}

/* làm logo */
.nav-logo a {
  font-size: 35px;
  font-weight: 700;
  text-decoration: none;
  color: #03a4ed;
  letter-spacing: 6px;
}

.nav-logo span {
  color: #fe3f40;
}

#toggler,
.nav label {
  display: none;
}

/* làm menu */
.nav-menu-link {
  padding: 0 2rem;
  text-decoration: none;
  color: #2a2a2a;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s;
}

.nav-menu-link:hover {
  color: #fe3f40;
  transition: 0.3s;
}

.btn_contact {
  background-color: #fe3f40;
  padding: 1.5rem 2rem;
  border: none;
  color: black;
  border-radius: 20px;
  transition: 0.3s;
  font-weight: bold;
  font-size: 16px;
}

.btn_contact:hover {
  color: white;
  transition: 0.3s;
}

.actived {
  color: #fe3f40;
}

@media screen and (max-width: 993px) {
  /* .nav {
        position: relative;
        justify-content: space-between;
      } */

  .nav label {
    display: block;
  }

  .nav-menu {
    flex-direction: column;
    background-color: #fafafa;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
    height: 0;
    width: 100%;
    overflow: hidden;
    /* transition: 0.3s; */
  }
  .nav-menu-list {
    flex-direction: column;
    padding: 0;
  }
  .nav-menu-item {
    padding: 20px 0;
  }
  .nav label {
    cursor: pointer;
  }
  #toggler:checked ~ .nav-menu {
    height: auto;
    transition: 0.3s;
  }
}

/* này làm link title */
.price-title ul {
  list-style: none;
  display: flex;
  padding: 0;
  font-size: 18px;
}
.price-title li:not(:first-child)::before {
  content: " ";
  margin: 2px 10px;
  color: #7d8ba4;
  width: 6px;
  height: 6px;
  border-top: 1px solid;
  border-right: 1px solid;
  display: inline-block;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate();
}
.price-title a {
  text-decoration: none;
  color: #7d8ba4;
}

/* GIờ làm phần title */
.price-title h1 {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 700;
  border-bottom: 1px solid #7d8ba4;
}
/* Này là làm ảnh với ô đăng ký */
.priceDetail {
  margin-top: 10rem;
}
.price-detail-main {
  display: flex;
}
.price-detail-main-left {
  width: 60%;
}
.price-detail-img {
}
.price-detail-img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  /* padding: 20px; */
  border-radius: 10px;
}
.price-detail-right {
  width: 40%;
  margin-left: 15px;
  position: sticky;
}
.aa {
  position: sticky;
  top: 100px;
  /* display: none; */
}
/* này là làm ô phải */
.price-detail-box {
  background-color: #a50000;
  position: relative;
  border-radius: 10px;
  flex-wrap: wrap;
  height: 580px;
}
.price-detail-head {
  text-align: center;
  padding-top: 40px;
}
.price-detail-head h1 {
  animation: shake 0.5s ease-in-out infinite;
  animation: shakeAndScale 0.5s ease-in-out infinite;
}
.price-detail-head h2 {
  font-weight: 700;
  color: #fff;
}
@keyframes shakeAndScale {
  0%,
  100% {
    transform: scale(1);
  }
  25%,
  75% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.8);
  }
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
.price-detail-head h1 {
  font-weight: 700;
  font-size: 30px;
  color: gold;
}
.price-detail-bottom {
  position: absolute;
  border-radius: 10px;
  background-color: #fff;
  left: 5px;
  right: 5px;
  top: 15rem;
  bottom: 5px;
}
.price-detail-right-price {
  font-weight: 700;
  font-size: 22px;
}
.price-detail-bottom li {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-bottom: 18px;
}
.price-detail-bottom ul {
  width: 100%;
  padding: 20px 20px;
}
.price-detail-bottom li button {
  padding: 10px;
  color: #fff;
  background: #a50000;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  width: 100%;
  animation: shake 0.5s ease-in-out infinite;
  /* animation: shakeAndScale 0.5s ease-in-out infinite; */
}
.bb {
  position: sticky;
  top: 100px;
  transition: 0.5s;
  display: none;
}
.price-detail-form {
  background-color: #a50000;
  position: relative;
  border-radius: 10px;
  flex-wrap: wrap;
  height: 70rem;
}
.price-detail-bottom-price {
  font-weight: 700;
}
.price-detail-form-head {
  text-align: center;
  padding-top: 5rem;
  font-weight: bold;
  color: #fff;
}
.price-detail-form-head i {
  font-size: 2.5rem;
  color: cadetblue;
  font-weight: bold;
  cursor: pointer;
}
.price-detail-form-head h1 {
  font-size: 3.5rem;
}
/* này làm content */
.price-detail-content {
  margin-top: 30px;
  width: 100%;
}
.price-detail-content h1 {
  font-weight: 700;
  font-size: 30px;
}
.price-detail-content li {
  list-style: none;
}
.price-detail-content ul > li:before {
  content: "–";
  position: absolute;
  margin-left: -1.1em;
}
.course-signup-box .course-signup-right {
  /* background-color: #f2f2f2; */
  padding: 20px;
  border-radius: 5px;
}

.course-signup-box .course-signup-right h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
}

.course-signup-box .course-signup-right label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.course-signup-box .course-signup-right select,
.course-signup-box .course-signup-right input[type="text"],
.course-signup-box .course-signup-right input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.btn-submit {
  text-align: center;
}
.btn-submit button {
  background-color: #a50000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.btn-submit button:hover {
  background-color: #45a049;
}
#registration-form {
  display: flex;
  flex-direction: column;
}
.price-detail-form-bottom {
  position: absolute;
  border-radius: 10px;
  background-color: #fff;
  left: 5px;
  right: 5px;
  top: 15rem;
  bottom: 5px;
}
.price-detail-form-bottom li {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* gap: 1rem; */
  margin-top: 2rem;
}
.price-detail-right-input {
  padding-right: 1rem;
}
.price-detail-right-input input,
.price-detail-right-input select {
  padding: 10px;
  width: 100%;
}
.price-detail-right-label {
  font-weight: bold;
}
.btn-form-submit {
  background-color: #a50000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}
.price-detail-price-button {
  text-align: center;
  padding-top: 3rem;
}
.price-detail-price-button button {
  padding: 0.8rem 2.2rem;
  background-color: #a50000;
  color: #fff;
  font-weight: bold;
}
.price-detail-price-button button:hover {
  background-color: #770c0c;
}
/* này là làm rating */
.price-detail-rating {
  margin-top: 5rem;
  width: 100%;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  margin-bottom: 20rem;
}
.price-detail-rating h1 {
  padding-bottom: 20px;
  padding-top: 10px;
}
.rating-box {
  background-color: #e4e4e4;
  padding: 0 2.5rem;
  border-radius: 10px;
}
.rating-box h3 {
  display: none;
  text-align: center;
  padding: 20px 0;
}
.rating-box h2 {
  padding-bottom: 10px;
  padding-top: 5px;
}
.rating-box form {
  margin: 0;
}
.rating-box input {
  width: 100%;
  padding-bottom: 10rem;
  border-radius: 10px;
}
.rating-box button {
  padding: 5px 20px;
  margin-top: 10px;
  background-color: #03a4ed;
  border-radius: 7px;
}
.rating-box button:hover {
  background-color: #a50000;
  color: #fff;
}
.rating-box-question {
  /* margin: 3rem 2.5rem; */
  padding-top: 3rem;
  margin-left: 2.5rem;
  padding-bottom: 5rem;
}
.question-title {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.nameUser {
  font-size: 25px;
  padding-right: 10px;
}
.timeQuestion {
  color: rgba(160, 160, 160, 0.907);
}
.question-content {
  font-weight: 700;
}
.question-card {
  padding-top: 10px;
}