* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: roboto;
  }
  
  body {
    font-size: 1.6rem;
    font-family: roboto;
  }
  
  .container {
    margin: 0 auto;
    max-width: 1320px;
  }
  
  .nav-background {
    background-color: #fafafa;
    height: 10rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    height: 10rem;
    align-items: center;
  }
  
  .nav-menu-list {
    display: flex;
    list-style: none;
    align-items: center;
    margin-bottom: 0;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
  }
  
  /* làm logo */
  .nav-logo a {
    font-size: 35px;
    font-weight: 700;
    text-decoration: none;
    color: #03a4ed;
    letter-spacing: 6px;
  }
  
  .nav-logo span {
    color: #fe3f40;
  }
  
  #toggler,
  .nav label {
    display: none;
  }
  
  /* làm menu */
  .nav-menu-link {
    padding: 0 2rem;
    text-decoration: none;
    color: #2a2a2a;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
  }
  
  .nav-menu-link:hover {
    color: #fe3f40;
    transition: 0.3s;
  }
  
  .btn_contact {
    background-color: #fe3f40;
    padding: 1.5rem 2rem;
    border: none;
    color: black;
    border-radius: 20px;
    transition: 0.3s;
    font-weight: bold;
    font-size: 16px;
  }
  
  .btn_contact:hover {
    color: white;
    transition: 0.3s;
  }
  
  .actived {
    color: #fe3f40;
  }
  
  @media screen and (max-width: 993px) {
    /* .nav {
      position: relative;
      justify-content: space-between;
    } */
  
    .nav label {
      display: block;
    }
  
    .nav-menu {
      flex-direction: column;
      background-color: #fafafa;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 999;
      height: 0;
      width: 100%;
      overflow: hidden;
      /* transition: 0.3s; */
    }
  
    .nav-menu-list {
      flex-direction: column;
      padding: 0;
    }
  
    .nav-menu-item {
      padding: 20px 0;
    }
  
    .nav label {
      cursor: pointer;
    }
  
    #toggler:checked~.nav-menu {
      height: auto;
      transition: 0.3s;
    }
  }

  .course-body{
    margin-top: 20rem;
  }
  .table{
    margin-top: 5rem;
  }
  .course-body table tr{
    /* height: 5rem; */
  }

  .course-body-title h1{
    text-align: center;
    font-weight: bold;
  }
  .update-button{
    padding: 5px 10px;
    border-radius: 8px;
  }
  .update-button:hover{
    color: #fafafa;
    background-color: aqua;
    /* border: aqua; */
  }
  .delete-button{
    padding: 5px 10px;
    border-radius: 8px;
  }
  .delete-button:hover{
    color: #fafafa;
    background-color: maroon;
  }